/**
 * Block styles for the editor.
 */

.wp-block-jartes-wikiblock {
	border: 1px solid #000;
	padding: 16px;
}

/* Block iframe scroll on the editor */
.wp-block-jartes-wikiblock iframe {
	pointer-events: none;
}
